table {
  border-collapse: collapse;
  margin: 2rem;
}

td,
th {
  border: 1px solid #dee2e6;
  text-align: left;
  padding: 8px;
}

.missionPage td:first-child {
  font-weight: bold;
}

.missionPage td:nth-child(3) {
  width: 130px;
  text-align: center;
}

.missionPage td:nth-child(4) {
  width: 150px;
  text-align: center;
}

.missionPage tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.invisible {
  color: #fff;
}

tbody > tr > :nth-child(2) {
  font-size: 0.9rem;
  line-height: 1.5;
}

.status {
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 0.25rem;
}

button.nonMember {
  background-color: #6c757e;
}

button.member {
  background-color: #1aa1b9;
}

.joinLeave {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  background: transparent;
}

button.join {
  color: #6c757e;
  border: 1px solid #6c757e;
}

button.leave {
  color: #df4553;
  border: 1px solid #df4553;
}

/* Table on profile page */
.tablesContainer {
  padding: 0 2rem;
}

.tablesContainer p {
  font-weight: bold;
  font-size: 1.2rem;
}

.profilePage {
  margin: 0;
  width: 100%;
}

.profilePagetd {
  padding: 15px;
}

.eachTable {
  width: calc(100% / 3);
}
